@import "../node_modules/normalize.css/normalize.css";

html {
	scroll-behavior: smooth;
}

body {
	font-family: Messina Sans Mono Regular, sans-serif;
	line-height: 1.5;
	background-color: #181818;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

/* =========================== CUSTOM FONTS =========================== */

@font-face {
	font-display: swap;
	font-family: "Messina Sans Mono Regular";
	font-style: normal;
	font-weight: 400;
	src: url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.eot")
			format("embedded-opentype"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.woff2")
			format("woff2"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.woff")
			format("woff"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Messina Sans Mono Semi Bold";
	font-style: normal;
	font-weight: 600;
	src: url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.woff2")
			format("woff2"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.woff")
			format("woff"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Biro Script Plus";
	font-style: normal;
	font-weight: 700;
	src: url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.woff2")
			format("woff2"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.woff")
			format("woff"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Biro Script Plus US";
	font-style: normal;
	font-weight: 700;
	src: url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.woff2")
			format("woff2"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.woff")
			format("woff"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Right Grotesk";
	font-style: normal;
	font-weight: 900;
	src: url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.eot")
			format("embedded-opentype"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.woff2")
			format("woff2"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.woff")
			format("woff"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.ttf")
			format("truetype");
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
