@import "../node_modules/normalize.css/normalize.css";

html {
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Messina Sans Mono Regular, sans-serif;
	line-height: 1.5;
	background-color: #181818;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img, picture {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

button,
input,
select {
  margin: 0;
}

/* =========================== CUSTOM FONTS =========================== */

@font-face {
	font-display: swap;
	font-family: "Messina Sans Mono Regular";
	font-style: normal;
	font-weight: 400;
	src: url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.eot")
			format("embedded-opentype"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.woff2")
			format("woff2"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.woff")
			format("woff"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Messina Sans Mono Semi Bold";
	font-style: normal;
	font-weight: 600;
	src: url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.woff2")
			format("woff2"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.woff")
			format("woff"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Biro Script Plus";
	font-style: normal;
	font-weight: 700;
	src: url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.woff2")
			format("woff2"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.woff")
			format("woff"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Biro Script Plus US";
	font-style: normal;
	font-weight: 700;
	src: url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.woff2")
			format("woff2"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.woff")
			format("woff"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Right Grotesk";
	font-style: normal;
	font-weight: 900;
	src: url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.eot")
			format("embedded-opentype"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.woff2")
			format("woff2"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.woff")
			format("woff"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.ttf")
			format("truetype");
}
