@import "../node_modules/normalize.css/normalize.css";

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Messina Sans Mono Regular, sans-serif;
	line-height: 1.5;
	background-color: #181818;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

/* =========================== CUSTOM FONTS =========================== */

@font-face {
	font-display: swap;
	font-family: "Messina Sans Mono Regular";
	font-style: normal;
	font-weight: 400;
	src: url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.eot")
			format("embedded-opentype"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.woff2")
			format("woff2"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.woff")
			format("woff"),
		url("./assets/fonts/MessinaSansMonoRegular/MessinaSansMono-Regular.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Messina Sans Mono Semi Bold";
	font-style: normal;
	font-weight: 600;
	src: url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.woff2")
			format("woff2"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.woff")
			format("woff"),
		url("./assets/fonts/MessinaSansMonoSemiBold/MessinaSansMono-SemiBold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Biro Script Plus";
	font-style: normal;
	font-weight: 700;
	src: url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.woff2")
			format("woff2"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.woff")
			format("woff"),
		url("./assets/fonts/BiroScriptPlusBold/BiroScriptPlus-Bold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Biro Script Plus US";
	font-style: normal;
	font-weight: 700;
	src: url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.eot")
			format("embedded-opentype"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.woff2")
			format("woff2"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.woff")
			format("woff"),
		url("./assets/fonts/BiroScriptPlusBoldUS/BiroScriptUSPlus-Bold.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Right Grotesk";
	font-style: normal;
	font-weight: 900;
	src: url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.eot")
			format("embedded-opentype"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.woff2")
			format("woff2"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.woff")
			format("woff"),
		url("./assets/fonts/RightGroteskCompactBlack/RightGrotesk-CompactBlack.ttf")
			format("truetype");
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
